div {
    border: 2px solid grey;
    margin-left: 35%;
    margin-right: 35%;
    background-color: #e8e8e8;
    text-align: center;
}
input {
    background-color: #fefff1;
}
body {
    background-color: #e8e8e8;
}
button {
    color: white;
    background-color: grey;
    height: 25px;
}
